@font-face {
    font-family: 'Mulish balck', sans-serif;
    src: url('../fontes/Mulish-Black.ttf') format('Truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Mulish regular', sans-serif;
    src: url('../fontes/Mulish-Regular.ttf') format('Truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Mulish medium', sans-serif;
    src: url('../fontes/Mulish-Medium.ttf') format('Truetype');
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-titulo--: #041D34;
    --color-paragrafo--: #515E71;
    --color-white--: white;
    --color-blue--: #397AFF;
    --color-blue-hover--: #1c4cac;
}

body,html{
    height: 100%;
    background: #E7EAEE;
}

/*Framework*/
.container{
    padding: 0 4%;
    max-width: 1240px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*Framework*/

/*Sessao header*/
section.sessao_header{
    width: 100%;
}

section.sessao_header .container{
    text-align: center;
    padding: 60px 0px;
}

section.sessao_header .container .imagem{
    margin: 0 auto; 
    width: 40%;
    max-width: 207px;
    height: 40%;
}

section.sessao_header .container .imagem img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    section.sessao_header .container{
        padding: 40px 0px;
    }

    section.sessao_header .container .imagem{
        max-width: 200px;
    }
}
/*Sessao header*/

/*Sessao one*/
section.sessao_one{
    width: 100%;
    margin-bottom: 60px;
}

section.sessao_one .container .label-interna{
    background: var(--color-white--);
    box-shadow: 0px 4px 84.7px -30px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 60px 50px;
    border-radius: 60px;
    text-align: center;
}

section.sessao_one .container .label-interna h1{
    font-size: 40px;
    color: var(--color-titulo--);
    margin-bottom: 15px;
    font-family: 'Mulish black', sans-serif;
}

section.sessao_one .container .label-interna p{
    width: 100%;
    max-width: 840px;
    color: var(--color-paragrafo--);
    font-family: 'Mulish medium', sans-serif;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 40px;
}

section.sessao_one .container .label-interna .video{
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    height: 500px;
    background: #E8E8E8;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.sessao_one .container .label-interna .video .load{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #E8E8E8;
    border-top-color: #808c9e;
    animation-name: load;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
    z-index: 0;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 900px) {
    section.sessao_one .container .label-interna{
        padding: 40px 50px;
        border-radius: 40px;
    }

    section.sessao_one .container .label-interna h1{
        font-size: 32px;
    }
    
    section.sessao_one .container .label-interna p{
        font-size: 18px;
        max-width: 700px;
        margin-bottom: 30px;
    }

    section.sessao_one .container .label-interna .video{
        height: 400px;
    }

    section.sessao_one .container .label-interna .video .load{
        width: 50px;
        height: 50px;
        border-width: 4px;
    } 
}
@media screen and (max-width: 800px) {
    section.sessao_one .container .label-interna{
        padding: 40px 30px;
        border-radius: 40px;
    }

    section.sessao_one .container .label-interna h1{
        font-size: 26px;
    }
    
    section.sessao_one .container .label-interna p{
        font-size: 16px;
        max-width: 600px;
        margin-bottom: 30px;
    }

    section.sessao_one .container .label-interna .video{
        height: 350px;
        border-radius: 20px;
    }

    section.sessao_one .container .label-interna .video .load{
        width: 50px;
        height: 50px;
        border-width: 4px;
    } 
}
@media screen and (max-width: 650px) {
    section.sessao_one{
        margin-bottom: 30px;
    }
    section.sessao_one .container .label-interna{
        padding: 40px 30px;
        border-radius: 30px;
    }

    section.sessao_one .container .label-interna h1{
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    section.sessao_one .container .label-interna p{
        font-size: 14px;
        max-width: none;
        margin-bottom: 30px;
    }

    section.sessao_one .container .label-interna .video{
        height: 280px;
        border-radius: 20px;
    }

    section.sessao_one .container .label-interna .video .load{
        width: 30px;
        height: 30px;
        border-width: 4px;
    } 
}

@media screen and (max-width: 550px){
    section.sessao_one .container .label-interna{
        padding: 40px 20px;
        border-radius: 30px;
    }

    section.sessao_one .container .label-interna h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px){
    section.sessao_one .container .label-interna{
        padding: 20px 15px;
        border-radius: 15px;
    }

    section.sessao_one .container .label-interna h1{
        font-size: 14px;
        margin-bottom: 5px;
    }

    section.sessao_one .container .label-interna p{
        font-size: 12px;
        margin-bottom: 20px;
    }

    section.sessao_one .container .label-interna .video{
        height: 200px;
        border-radius: 10px;
        width: 95%;
    }

    section.sessao_one .container .label-interna .video .load{
        width: 20px;
        height: 20px;
        border-width: 2px;
    } 

}
/*Sessao one*/

/*Sessao two*/
section.sessao_two{
    width: 100%;
    margin-bottom: 60px;
}

section.sessao_two .container .label-interna{
    background: var(--color-white--);
    box-shadow: 0px 4px 84.7px -30px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 60px 50px;
    border-radius: 60px;
    text-align: left;
}

section.sessao_two .container .label-interna .flex .img-box{
    width: 40%;
    height: 420px;
    background: #E8E8E8;
    border-radius: 30px;
}

section.sessao_two .container .label-interna .flex .texto{
    width: 57%;
}

section.sessao_two .container .label-interna .flex .texto h1{
    color: var(--color-titulo--);
    font-size: 40px;
    font-family: 'Mulish black', sans-serif;
    margin-bottom: 17px;
    text-align: left;
}

section.sessao_two .container .label-interna .flex .texto > p{
    color: var(--color-paragrafo--);
    font-size: 20px;
    font-family: 'Mulish medium', sans-serif;
    text-align: left;
    margin-bottom: 27px;
}

section.sessao_two .container .label-interna .flex .btn-action{
    padding: 10px 30px;
    background: var(--color-blue--);
    border-radius: 45px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}

section.sessao_two .container .label-interna .flex .btn-action:hover{
    background: var(--color-blue-hover--);
}

section.sessao_two .container .label-interna .flex .btn-action p{
    font-size: 24px;
    font-family: 'Mulish black', sans-serif;
    color: var(--color-white--);
}

@media screen and (max-width: 900px) {
    section.sessao_two .container .label-interna{
        padding: 40px 50px;
        border-radius: 40px;
    }

    section.sessao_two .container .label-interna .flex .img-box{
        height: 400px;
    }

    section.sessao_two .container .label-interna .flex .texto h1{
        font-size: 32px;
    }
    
    section.sessao_two .container .label-interna .flex .texto > p{
        font-size: 18px;
    }

    section.sessao_two .container .label-interna .flex .btn-action{
        padding: 8px 30px;
    }

    section.sessao_two .container .label-interna .flex .btn-action p{
        font-size: 20px;
    }
}

@media screen and (max-width: 800px){
    section.sessao_two .container .label-interna .flex .img-box{
        width: 100%;
        margin-bottom: 30px;
    }

    section.sessao_two .container .label-interna .flex .texto{
        width: 100%;
        text-align: center;
    }

    section.sessao_two .container .label-interna .flex .texto h1{
        text-align: center;
    }
    
    section.sessao_two .container .label-interna .flex .texto > p{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    section.sessao_two{
        margin-bottom: 30px;
    }

    section.sessao_two .container .label-interna{
        padding: 40px 30px;
        border-radius: 30px;
    }

    section.sessao_two .container .label-interna .flex .img-box{
        height: 300px;
    }
    
    section.sessao_two .container .label-interna .flex .texto h1{
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    section.sessao_two .container .label-interna .flex .texto > p{
        font-size: 14px;
        margin-bottom: 18px;
    }

    section.sessao_two .container .label-interna .flex .btn-action p{
        font-size: 16px;
    }
}

@media screen and (max-width: 550px){
    section.sessao_two .container .label-interna{
        padding: 40px 20px;
        border-radius: 30px;
    }

    section.sessao_two .container .label-interna .flex .img-box{
        height: 250px;
        border-radius: 20px;
    }
    
    section.sessao_two .container .label-interna .flex .texto h1{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    section.sessao_two .container .label-interna .flex .texto > p{
        font-size: 14px;
        margin-bottom: 18px;
    }

    section.sessao_two .container .label-interna .flex .btn-action p{
        font-size: 16px;
    }
}

@media screen and (max-width: 450px){
    section.sessao_two .container .label-interna{
        padding: 20px 15px;
        border-radius: 15px;
    }

    section.sessao_two .container .label-interna .flex .texto h1{
        font-size: 16px;
    }
    
    section.sessao_two .container .label-interna .flex .texto > p{
        font-size: 12px;
        margin-bottom: 12px;
    }

    section.sessao_two .container .label-interna .flex .btn-action p{
        font-size: 12px;
    }

    section.sessao_two .container .label-interna .flex .img-box{
        height: 200px;
        margin-bottom: 15px;
    }
}
/*Sessao two*/

/*Sessao three*/
section.sessao_three{
    width: 100%;
    margin-bottom: 60px;
}

section.sessao_three .container{
    text-align: center;
}

section.sessao_three .container h1{
    font-family: 'Mulish black', sans-serif;
    color: var(--color-titulo--);
    font-size: 40px;
    margin-bottom: 60px;
}

section.sessao_three .container h1 span{
    color: var(--color-blue--);
}

section.sessao_three .container .flex .box{
    width: calc(100% / 2 - 30px);
    background: var(--color-white--);
    border-radius: 30px;
    padding: 0px 40px;
    margin-bottom: 40px;
    text-align: left;
    min-height: 347px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.sessao_three .container .flex .box:nth-child(1) .img{
    background: #DDF6ED;
}

section.sessao_three .container .flex .box:nth-child(2) .img{
    background: #DCE5FF;
}

section.sessao_three .container .flex .box:nth-child(3) .img{
    background: #FFE6E7;
}

section.sessao_three .container .flex .box:nth-child(4) .img{
    background: #E5F8FD;
}

section.sessao_three .container .flex .box .img{
    width: 88px;
    height: 88px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

section.sessao_three .container .flex .box .img img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}


section.sessao_three .container .flex .box h3{
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--color-titulo--);
    font-family: 'Mulish black', sans-serif;
}

section.sessao_three .container .flex .box p{
    color: var(--color-paragrafo--);
    font-size: 20px;
    font-family: 'Mulish medium', sans-serif;
}

section.sessao_three .container .btn-action{
    width: 80%;
    max-width: 395px;
    padding: 18px 20px;
    background: var(--color-blue--);
    border-radius: 45px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


section.sessao_three .container .btn-action:hover{
    background: var(--color-blue-hover--);
}

section.sessao_three .container .btn-action p{
    color: var(--color-white--);
    font-size: 24px;
    font-family: 'Mulish black', sans-serif;
}

@media screen and (max-width: 900px) {
    section.sessao_three .container h1{
        font-size: 32px;
        margin-bottom: 40px;
    }

    section.sessao_three .container .flex .box{
        width: 100%;
        min-height: 250px;
        padding: 40px 25px;
        display: inline-block !important;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    section.sessao_three .container .flex .box .img{
        width: 68px;
        height: 68px;
        border-radius: 15px !important;
    }
    section.sessao_three .container .flex .box h3{
        font-size: 24px;
    }
    section.sessao_three .container .flex .box p{
        font-size: 18px;
    }
    section.sessao_three .container .btn-action p{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 600px) {
    section.sessao_three{
        margin-bottom: 30px;
    }

    
    section.sessao_three .container h1{
        font-size: 22px;
        margin-bottom: 30px;
    }
    section.sessao_three .container .flex .box{
        width: 100%;
        min-height: 200px;
    }
    section.sessao_three .container .flex .box .img{
            width: 58px;
            height: 58px;
            border-radius: 10px !important;
        }
    section.sessao_three .container .flex .box h3{
        font-size: 18px;
        margin-bottom: 10px;
    }
    section.sessao_three .container .flex .box p{
        font-size: 16px;
    }
    section.sessao_three .container .btn-action p{
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    section.sessao_three .container h1{
        font-size: 18px;
        margin-bottom: 20px;
    }
    section.sessao_three .container .flex .box{
        width: 100%;
        min-height: 180px;
    }
    section.sessao_three .container .flex .box .img{
            width: 48px;
            height: 48px;
            border-radius: 10px !important;
        }
    section.sessao_three .container .flex .box h3{
        font-size: 16px;
        margin-bottom: 10px;
    }
    section.sessao_three .container .flex .box p{
        font-size: 14px;
    }
    section.sessao_three .container .btn-action p{
        font-size: 16px;
    }

    section.sessao_three .container .btn-action{
        max-width: 320px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 450px) {
    section.sessao_three .container h1{
        font-size: 16px;
        margin-bottom: 20px;
    }
    section.sessao_three .container .flex .box{
        width: 100%;
        min-height: 120px;
        margin-bottom: 20px;
    }
    section.sessao_three .container .flex .box .img{
            width: 48px;
            height: 48px;
            border-radius: 10px !important;
        }
    section.sessao_three .container .flex .box h3{
        font-size: 14px;
        margin-bottom: 10px;
    }
    section.sessao_three .container .flex .box p{
        font-size: 12px;
    }
    section.sessao_three .container .btn-action p{
        font-size: 14px;
    }

    section.sessao_three .container .btn-action{
        max-width: 320px;
        padding: 10px 20px;
    }
}
/*Sessao three*/

/*Sessao four*/
section.sessao_four{
    width: 100%;
    margin-bottom: 60px;
}

section.sessao_four .container .label-interna{
    background: var(--color-white--);
    box-shadow: 0px 4px 84.7px -30px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 60px 50px;
    border-radius: 60px;
    text-align: center;
}

section.sessao_four .container .label-interna h1{
    font-size: 36px;
    color: var(--color-titulo--);
    font-family: 'Mulish black', sans-serif;
}

section.sessao_four .container .label-interna h1:first-child{
    margin-bottom: 40px;
}

section.sessao_four .container .label-interna h1 span{
    color: #19C185;
}

section.sessao_four .container .label-interna  .list{
    list-style-type: none;
    display: inline-block;
    margin-bottom: 40px;
}

section.sessao_four .container .label-interna  .list li{
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

section.sessao_four .container .label-interna  .list li:last-child{
    margin-bottom: 0px;
}

section.sessao_four .container .label-interna  .list li img{
    width: 37px;
    height: 37px;
    object-fit: contain;
    margin-right: 20px;
}

section.sessao_four .container .label-interna  .list li p{
    color: var(--color-paragrafo--);
    font-family: 'Mulish black', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 1030px) {
    section.sessao_four .container .label-interna h1{
        font-size: 32px;
    }
    section.sessao_four .container .label-interna  .list li img{
        width: 30px;
        height: 30px;
    }
    
    section.sessao_four .container .label-interna  .list li p{
        font-size: 18px;
    }
}

@media screen and (max-width: 910px) {
    section.sessao_four .container .label-interna{
        padding: 40px 50px;
        border-radius: 40px;
    }

    section.sessao_four .container .label-interna h1{
        font-size: 30px;
    }
    section.sessao_four .container .label-interna  .list li{
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 15px;
    }
    section.sessao_four .container .label-interna  .list li img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    section.sessao_four .container .label-interna  .list li p{
        font-size: 18px;
        text-align: left;
        position: relative;
        top: -2px;
    }
}

@media screen and (max-width: 600px){
    section.sessao_four{
        margin-bottom: 30px;
    }

    section.sessao_four .container .label-interna{
        padding: 40px 20px;
        border-radius: 30px;
    }

    section.sessao_four .container .label-interna h1{
        font-size: 22px;
    }

    section.sessao_four .container .label-interna h1:first-child{
        margin-bottom: 20px;
    }

    section.sessao_four .container .label-interna h1:last-child{
        width: 75%;
        margin: 0 auto;
    }
    section.sessao_four .container .label-interna  .list{
        margin-bottom: 20px;
    }
    section.sessao_four .container .label-interna  .list li p{
        font-size: 16px;
    }
}

@media screen and (max-width: 550px){
    section.sessao_four .container .label-interna{
        padding: 40px 20px;
        border-radius: 30px;
    }

    section.sessao_four .container .label-interna h1{
        font-size: 18px;
        margin-bottom: 20px;
    }
    section.sessao_four .container .label-interna h1:last-child{
        margin-bottom: 0px;
        width: 100%;
    }
    section.sessao_four .container .label-interna  .list{
        margin-bottom: 20px;
    }
    section.sessao_four .container .label-interna  .list li p{
        font-size: 14px;
    }
}

@media screen and (max-width: 450px){
    section.sessao_four .container .label-interna{
        padding: 40px 20px;
        border-radius: 30px;
    }

    section.sessao_four .container .label-interna h1{
        font-size: 16px;
        margin-bottom: 20px;
    }
    section.sessao_four .container .label-interna  .list li img{
        width: 15px;
        height: 15px;
    }

    section.sessao_four .container .label-interna h1:last-child{
        margin-bottom: 0px;
        width: 75%;
    }

    section.sessao_four .container .label-interna  .list{
        margin-bottom: 20px;
    }
    section.sessao_four .container .label-interna  .list li p{
        font-size: 12px;
    }
}
/*Sessao four*/

/*Sessao five*/
section.sessao_five{
    width: 100%;
    margin-bottom: 60px;
}

section.sessao_five .container .label-interna{
    background: var(--color-white--);
    box-shadow: 0px 4px 84.7px -30px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 60px 50px;
    border-radius: 40px;
    text-align: center;
}

section.sessao_five .container .label-interna h1{
    font-size: 36px;
    color: var(--color-titulo--);
    font-family: 'Mulish black', sans-serif;
    margin-bottom: 30px;
}

section.sessao_five .container .label-interna p{
    width: 100%;
    max-width: 990px;
    color: var(--color-paragrafo--);
    font-family: 'Mulish medium', sans-serif;
    font-size: 28px;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    section.sessao_five .container .label-interna{
        padding: 40px 50px;
        border-radius: 40px;
    }

    section.sessao_five .container .label-interna h1{
        font-size: 32px;
    }

    section.sessao_five .container .label-interna p{
        font-size: 22px;
    }
}

@media screen and (max-width: 600px){
    section.sessao_five{
        margin-bottom: 30px;
    }

    section.sessao_five .container .label-interna{
        padding: 40px 20px;
        border-radius: 30px;
    }

    section.sessao_five .container .label-interna h1{
        font-size: 22px;
        margin-bottom: 20px;
    }

    section.sessao_five .container .label-interna p{
        font-size: 18px;
    }
}

@media screen and (max-width: 550px){
    section.sessao_five .container .label-interna{
        padding: 40px 20px;
        border-radius: 30px;
    }

    section.sessao_five .container .label-interna h1{
        font-size: 18px;
        margin-bottom: 15px;
    }

    section.sessao_five .container .label-interna p{
        font-size: 14px;
    }
}

@media screen and (max-width: 450px){
    section.sessao_five .container .label-interna{
        padding: 40px 15px;
        border-radius: 30px;
    }

    section.sessao_five .container .label-interna h1{
        font-size: 16px;
    }

    section.sessao_five .container .label-interna p{
        font-size: 12px;
    }
}

/*Sessao five*/

/*Sessao six*/
section.sessao_six{
    width: 100%;
    margin-bottom: 60px;
}

section.sessao_six .container .label-interna{
    background: var(--color-white--);
    box-shadow: 0px 4px 84.7px -30px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 60px 50px;
    border-radius: 40px;
    text-align: center;
    height: 900px;
    overflow-y: hidden;
}

section.sessao_six .container .label-interna h1{
    font-size: 38px;
    color: var(--color-titulo--);
    margin-bottom: 30px;
    font-family: 'Mulish black', sans-serif;
}

section.sessao_six .container .label-interna > p{
    color: var(--color-paragrafo--);
    font-size: 22px;
    font-family: 'Mulish medium', sans-serif;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 100%;
    max-width: 879px;
}

section.sessao_six .container .label-interna .btn-action{
    width: 80%;
    max-width: 395px;
    padding: 18px 20px;
    background: var(--color-blue--);
    border-radius: 45px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 45px;
}


section.sessao_six .container .label-interna .btn-action:hover{
    background: var(--color-blue-hover--);
}

section.sessao_six .container .label-interna .btn-action p{
    color: var(--color-white--);
    font-size: 24px;
    font-family: 'Mulish black', sans-serif;
}

section.sessao_six .container .label-interna .h100{
    height: 1400px;
    width: 100%;
    border-radius: 72px;
    background: var(--color-blue--);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
}

section.sessao_six .container .label-interna .h100 .h-min{
    width: 90%;
    height: 840px;
    border-radius: 55px;
    background: var(--color-white--);
}

section.sessao_six .container .label-interna .h100 .h-min video{
    width: 100%;
    height: 100%;
    border-radius: 55px;
    object-fit: cover;
    object-position: left;
}
/*Sessao six*/